.leftside {
	background-color: grey;
	padding:70px;
}
.rightside{
	background-color: lightgray;
	 padding:70px;
}
.navbar-brand{
	padding:5px;
}
.navbar-brand:hover{
	opacity: 0.7;
}
.navbar-inverse{
	background-color:  #ffd633;
	
}

a{
	color: red;
}
.navbar-nav > li > a {
    color: #333;
}
